body {
    background-color: rgb(53, 53, 53);
}

.title {
    text-align: center;
    color: rgba(255, 17, 0, 0.836);
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    margin-top: 100px;
    font-weight:bolder;
}
.dot{
    color: rgba(255, 17, 0, 0.836);
    font-size: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left:73%;
    top: 100px;
    padding: 0%;
    margin: 0;

}

.prompt {
    text-align: center;
    position: absolute;
    top: 39%;
    font-family: 'Segoe UI';
    font-style: italic;
    /* Georgia */
    color: white;
    font-size: 20px;
    width: 100%;
}

.searchBar {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.input {
    width: 450px;
    height: 35px;
    border-radius: 40px;
    border-color: rgba(2, 2, 2, 0.322);
    border-width: 1px;
    box-shadow: none !important;
    padding-left: 15px;
}

input:focus {
    outline-width: 0;
}